.container {
  height: 100%;
  position: relative;
}

body {
  background-image: url(/public/images/daisyrough.jpg);
  background-size: 100%;
  background-size: cover;
  /* background-repeat: no-repeat ; */
  margin: 1em;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
  color: gold;
  background-color: rgba(182, 240, 187, 0.9);
  text-shadow: 1.5px 1.5px 0 gray;
  padding: 0.1em 0.1em;
  border-radius: 1rem;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 8em;
  width: 6em;
  margin: 1em 1em 0;
  border-radius: 1rem;
}

.nav {
  background-color: rgba(250, 235, 215, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 1.25em; */
  margin: 1em 0;
  padding: 0.2em 8em;
  flex-wrap: wrap;
  top: 0;
  position: sticky;
}

.nav-img {
  height: 2em;
  width: 2em;
}

.cart-nav-icon {
  position: relative;
  display: inline-block;
}

.cart-nav-bubble {
  background-color: #fa3e3e;
  border-radius: 20px;
  color: white;
  padding: 1px 7px;
  font-size: 1em;
  position: absolute;
  
}

/* products */

.products {
  background-color: rgba(250, 235, 215, 0.7);
  border-radius: 1.5em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  
}

.product-images {
  height: 18em;
  width: 14em;
  border-radius: 25%;
}

.price {
  font-size: 1.25em;
  text-align: center;
}

button {
  background-color: aliceblue;
  font-size: 1.2em;
}

a {
  color: black;
  text-decoration: none;
}

/* product page */

.product-page {
  margin: auto;
  background-color: rgba(245, 245, 245, 0.4);
  min-height: auto;
  max-width: 50%;
}

.product-page img {
  height: 16em;
  width: 14em;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25em;
  font-weight: bold;
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* order history */
.order-history {
  min-height: 90%;
  min-width: 80%;
  font-size: 10em;
}

/* login */

.login {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.window-body input {
  height: 1.25em;
  min-width: 50%;
  font-size: 1em;
  margin: auto;
}



/* cart */

.cart-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-height: 3em;
  margin: 1.5em;
}

.cart-contents img {
  height: 8em;
  width: 6em;
  border: 1px solid black;
  border-radius: 12px;
}

.qty-buttons button{
  font-size: 70%;
  min-height: 1.5em;
  min-width: 2.5em;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.cart-qty {
  height: 1.5em;
  width: 1.5em;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 10px;
}

/* .cart-img {
  height: 5em;
  width: 4em;
  border: 1px solid black;
  border-radius: 12px;
} */

/* checkout */
.checkout-container {
  background-color: rgba(250, 235, 215, 0.7);
  max-width: 40%;
  margin: auto;
  padding: 1em;
}
.display-users {
  font-size: 1.5em;
  
  max-width: 80%;
  margin: auto;
}
.address {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto;
  gap: 0.5em;
}

.address button {
  min-height: 1em;
  width: 50%;
  margin: auto;
  font-size: 0.75em;
  font-weight: bold;
}

.checkout-total {
  padding: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
}


@media only screen and (max-width: 600px) {
  .container {
    margin: auto;
  }
  header img {
    display: none;
  }
  .nav {
    margin: 1em auto;
    padding: 0.5em 2.5em;
  }
  nav {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1rem;
  }

  body {
    background-color: aliceblue;
    background-image: none;
  }
  .cart-contents {
    gap: 0.75em;
    min-height: 1.75em;
    margin: 0.5em;
  }

  .cart-img {
    height: 2.5em;
    width: 2em;
    border: 1px solid black;
    border-radius: 12px;
  }
  
  .qty-buttons button{
    font-size: 50%;
    min-height: 1.5em;
    min-width: 2.5em;
  }

  .windowContainer {
    font-size: 80%;
  }


}